<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/utility.css">
    <link rel="stylesheet" href="../src/navbar.css">
    <link rel="stylesheet" href="../src/cart.css">
    <link rel="stylesheet" href="../src/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <title>My Cart</title>

</head>
<body>
    <div class="navbar flex">
        <div class="navbar-header flex items-center">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <div class="navbar-header-list flex items-center justify-center gap-60">
            <a class="fw-700 fs-16" href="">Products</a>
            <a class="fw-700 fs-16" href="">About</a>
            <a id="signIn-btn" class="signIn-btn fw-700 fs-16">Sign In</a>
            <a id="signOut-btn" class="signOut-btn fw-700 fs-16">Sign Out</a>
        </div>
        <div class="navbar-cart flex items-center justify-center">
            <a  class="flex items-center gap-10" href=""><img src="../assets/images/Shopping cart.png" alt=""> My cart</a>
        </div>
    </div>

    <div class="main-container flex flex-col items-center mt-50">

        <div class="cart-title">
            My Shopping Cart
        </div>

        <div class="cart-table flex flex-col mt-20">
            <div class="table-titles flex items-center">
                <div class="product">
                    Product
                </div>
                <div class="price">
                    Price
                </div>
                <div class="quantity">
                    Quantity
                </div>
                <div class="total">
                    Total
                </div>
            </div>
            <div id="cart-products" class="cart-products flex flex-col mt-20 gap-20 mb-20">
                <div class="cart-item flex items-center">
                    <div class="cart-product flex gap-20 items-center">
                        <div class="cart-image">
                            <img src="../assets/images/razor 1.png" alt="">
                        </div>
                        <div class="cart-name">
                            Razor1
                        </div>
                    </div>
                    <div class="cart-price">
                        <p>$<span>19.00</span></p>
                    </div>
                    <div class="cart-quantity">
                        15
                    </div>
                    <div class="cart-total">
                        <p>$<span>250.00</span></p>
                    </div>

                </div>
                <div class="cart-item flex items-center">
                    <div class="cart-product flex gap-20 items-center">
                        <div class="cart-image">
                            <img src="../assets/images/razor 1.png" alt="">
                        </div>
                        <div class="cart-name">
                            Razor1
                        </div>
                    </div>
                    <div class="cart-price">
                        <p>$<span>19.00</span></p>
                    </div>
                    <div class="cart-quantity">
                        15
                    </div>
                    <div class="cart-total">
                        <p>$<span>250.00</span></p>
                    </div>

                </div>
                <div class="cart-item flex items-center">
                    <div class="cart-product flex gap-20 items-center">
                        <div class="cart-image">
                            <img src="../assets/images/razor 1.png" alt="">
                        </div>
                        <div class="cart-name">
                            Razor1
                        </div>
                    </div>
                    <div class="cart-price">
                        <p>$<span>19.00</span></p>
                    </div>
                    <div class="cart-quantity">
                        15
                    </div>
                    <div class="cart-total">
                        <p>$<span>250.00</span></p>
                    </div>

                </div>
            </div>
            <div class="cart-grandtotal flex items-center">
                <div class="product">
                    
                </div>
                <div class="price">
                    Sub-total
                </div>
                <div class="quantity">
                    <p>$<span>19.00</span></p>
                </div>
                <div class="total">
                    <div id="checkoutBtn" class="checkoutBtn">
                        Checkout
                    </div>
                </div>
            </div>

        </div>

    </div>








    
    <div class="footer flex items-center">
        <div class="footer-logo flex items-center justify-center">
            <img src="../assets/images/logo big.png" alt="">
        </div>
        <div class="footer-list flex flex-col items-center justify-center gap-20">
            <a href="">Info</a>
            <a href="">Contact Us</a>
            <a href="">About Us</a>
            <a href="">Key Features</a>
        </div>
        <div class="footer-list flex flex-col items-center justify-center gap-20">
            <a href="">Razors</a>
            <a href="">Shaving Cream</a>
            <a href="">Shaving Brush</a>
            
        </div>

    </div>
    
    <script src="../scripts/cart.js"></script>
    
</body>
</html>