<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/utility.css">
    <link rel="stylesheet" href="../src/navbar.css">
    <link rel="stylesheet" href="../src/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <title>Butter razor</title>
</head>
<body>
    <div class="navbar flex">
        <div class="navbar-header flex items-center">
            <img src="../assets/images/logo.png" alt="">
        </div>
        <div class="navbar-header-list flex items-center justify-center gap-60">
            <a class="fw-700 fs-16" href="">Products</a>
            <a class="fw-700 fs-16" href="">About</a>
            <a id="signIn-btn" class="signIn-btn fw-700 fs-16">Sign In</a>
            <a id="signOut-btn" class="signOut-btn fw-700 fs-16">Sign Out</a>
        </div>
        <div class="navbar-cart flex items-center justify-center">
            <a  class="flex items-center gap-10" href=""><img src="../assets/images/Shopping cart.png" alt=""> My cart</a>
        </div>
    </div>

    <div class="main-container flex flex-col items-center gap-30 mt-50 items-center">
        <h1 class="page-header">Where Elegance Meets Eco-Friendliness</h1>
        <div class="story-section flex justify-between">
            <div class="story-left flex flex-col items-center gap-30">
                <div class="story-title">
                    OUR STORY +
                </div>
                <div class="story-text">
                    Step into the world of sustainable grooming with the Butter Razor, a revolutionary bamboo razor designed to make your shaving experience smoother, closer, and most importantly, greener. Embrace elegance and eco-friendliness in one beautifully designed package.

                </div>
            </div>
            <div class="story-right flex justify-center">
                <img src="../assets/images/Our story image.png" alt="">
            </div>



        </div>
        <div class="main-section flex wrap">
            <div class="top-left">
                <img src="../assets/images/Main feature 1.png" alt="">
            </div>
            <div class="top-right flex flex-col items-center gap-60">

                <div class="main-title">
                    Main Features: 
                </div>
                <div class="main-text">
                    <b>Embrace Sustainability:</b><br>
                    At ButterRazor, we are committed to reducing plastic waste and its impact on our environment.
                     The handle of our razor is meticulously crafted from 100% organic, biodegradable bamboo, a fast-growing and renewable
                      resource that doesn't contribute to deforestation. By choosing ButterRazor, you're actively contributing to the preservation
                       of our planet for generations to come
                </div>

            </div>
            <div class="bot-left flex flex-col justify-center items-center">

                <div class="main-text">
                    <b>Precision in Every Stroke:</b><br>
                    Our bamboo razor features a stainless-steel, precision-engineered blade that ensures a close and comfortable shave every time.
                     The razor's head is designed to glide effortlessly over your skin, reducing irritation and razor burns, providing you with a velvety
                      smooth finish that you'll love to touch.
                </div>

            </div>
            <div class="bot-right">
                <img src="../assets/images/Main feature 2.png" alt="">
            </div>
    
        </div>

        <div class="Shop">
            Shop
        </div>

        <div class="categories flex gap-20">
            <div id="all-cat" class="Product-title">
                All 
            </div>
            <div id="razors-cat" class="Product-title">
                Razors 
            </div>
            <div id="cream-cat" class="Product-title">
                Shaving Cream
            </div>
            <div id="brush-cat" class="Product-title">
                Shaving Brush 
            </div>
        </div>
        <div class="category-items flex wrap gap-20">
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">SK-RT</h3>
                    <p>$<span id ="product-price"></span>19.00</p>
                </div>
                <img src="../assets/images/razor 1.png" alt="">

                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>

                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">SK-PV</h3>
                    <p>$<span id ="product-price"></span>21.00</p>
                </div>
                <img src="../assets/images/razor 2.png" alt="">
                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>
                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">SK-BM</h3>
                    <p>$<span id ="product-price"></span>23.00</p>
                </div>
                <img src="../assets/images/razor 3.png" alt="">
                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>
                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">CR-PF</h3>
                    <p>$<span id ="product-price"></span>11.00</p>
                </div>
                <img src="../assets/images/shave cream 1.png" alt="">
                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>

                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">CR-PF</h3>
                    <p>$<span id ="product-price"></span>21.00</p>
                </div>
                <img src="../assets/images/shave cream 2.png" alt="">
                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>

                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            <div class="item-card">
                <div>
                    <h3 id="product-name" class="product-name">SK-PW</h3>
                    <p>$<span id ="product-price"></span>19.00</p>
                </div>
                <img src="../assets/images/shave brush 1.png" alt="">
                <div class="product-description">
                    3 ceramic-coated<br>
                    carbon steel blades<br>
                    Lubricating strip with Vitamin E & Aloe<br>
                    Styling trimmer<br>
                    Anti-clog cartridges for quick rinsing
                  </div>

                <div id="add" class="add">
                    Add to cart
                </div>
            </div>
            
            

         
        </div>
        
    </div>

    <div class="footer flex items-center">
        <div class="footer-logo flex items-center justify-center">
            <img src="../assets/images/logo big.png" alt="">
        </div>
        <div class="footer-list flex flex-col items-center justify-center gap-20">
            <a href="">Info</a>
            <a href="">Contact Us</a>
            <a href="">About Us</a>
            <a href="">Key Features</a>
        </div>
        <div class="footer-list flex flex-col items-center justify-center gap-20">
            <a href="">Razors</a>
            <a href="">Shaving Cream</a>
            <a href="">Shaving Brush</a>
            
        </div>

    </div>

    <script src="../scripts/landingPage.js"></script>
</body>
</html>